@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c2a2a;
}
ul.el-dropdown-menu {
    background: #343232!important;
    width: 150px !important;
    border-radius: 8px !important;
}
.el-dropdown-menu__item{
    color: #fff !important;
}
.el-dropdown-menu__item:hover,
.el-dropdown-menu__item:focus{
    background-color: #58555557 !important;
    color:#fff !important;
}
.el-dropdown__popper .el-dropdown__list{
    background: #343232!important;
}
.el-dropdown__popper.el-popper .el-popper__arrow::before {
    border: none !important;
}
.el-popper.is-light .el-popper__arrow::before{
    background-color: transparent !important;
}
.el-dropdown__popper.el-popper {
    border: none !important;
    box-shadow: 0 0.0625rem 0.3125rem 0.0625rem rgba(0,0,0,0.117) !important;
  
}
